html{
    scroll-behavior: smooth;
    
}
body {
    margin: 0 auto;
    padding: 0 2rem;
    font-family:'Inter', sans-serif;
    color: white;
    background-color: #0a0c10;
    max-width: 1100px;
}  
.bg {
    background-image: radial-gradient(rgb(6, 104, 6) 1px, transparent 1px);
    background-size: 30px 30px;
} 

.cabecalho {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #30363d;
}
.cabecalho img{
    width: 60px;
    height: 70px;
    margin-left: 70px;
}
.cabecalho .menu ul {
    list-style: none;
    margin-right: 80px;
    display: flex;
    gap: 20px;
}

.cabecalho .menu ul .item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
    position: relative;
}
.cabecalho .menu ul .item a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgba(0,255,255,0.5);
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}
.cabecalho .menu ul .item a:hover::after {
    width: 100%;
}
.cabecalho .menu ul .item a:hover {
    color: rgba(0,255,255,0.5);
}
#container{
    margin-top: 120px;
    display: block;
    text-align: center;
    margin-bottom: 100px;
}
#container h1{
    font-size: clamp(3.5rem, 6vw, 4rem);
    font-weight: 800;
    margin-bottom: 1.5rem;
    letter-spacing: -2px;
    color: blanchedalmond;
}
#container span {
    color: rgb(49, 230, 230) ;
}
#container p{
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 2.5rem;
}

.imagem{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.imagem img{
    width: 700px;
    height: 550px; 
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(15, 224, 224, 0.911);
}
#sobre{
    margin: 80px;
    text-align: center;
    margin-top: 200px;
}
#sobre h1{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgba(15, 224, 224, 0.911);
}

#sobre p{
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.6;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
}
button{
    background-color: rgba(15, 224, 224, 0.911) ;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    transition: 0.3s;
}

button:hover{
    background-color: rgba(0, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    transform: translateY(-2px);
}

#contatos{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
}
#contatos a{
    color: rgba(0, 255, 255, 0.8);
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s;
    position: relative;
}
#contatos a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(98, 255, 255);
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}
#contatos a:hover::after{
    width: 100%;
}

.rodape{
    text-align: center;
    padding: 4rem 0;
    border-top: 1px solid #30363d;
    font-size: 0.9rem;
}
